.DS_Store
microsite/css/style.css
microsite/css/style.css.map
microsite/jspm_packages
microsite/node_modules
data/raw/
data/download/*
data/download/
data/download
.sass-cache
vis/jspm_packages/github/
vis/jspm_packages/npm/
vis/node_modules/
vis/jspm_packages/.dependencies.json
*.log
*.map