#NetworkSection {

    .node {
        position:absolute;
        //display:block;
        text-align:center;
        box-sizing: border-box;
        background-color: $blue;
        cursor: pointer;
        //z-index:0 !important;

        transition: border 0.3s, background-color 0.3s, opacity 0.3s;

        &:hover {
            background-color: rgba($red, 0.3);
            opacity: 1 !important;
        }

        .label {
            color:#fff;
            text-transform: capitalize;
            font-size: 12px;
            font-weight: bold;
            display:block;
            position:relative;
            top:50%;
            transform:translate(0, -50%);
        }

        .count {
            color:#fff;
            font-size: 14px;
            display:block;
            position:relative;
            top:50%;
            transform:translate(0, -50%);
        }

        &.partial-overflow {
            > .label { display:none !important }
            overflow:visible;
            //z-index:0 !important;
        }

        &.overflow {
            > .label { display:none !important }
            > .count { display:none !important }
            overflow:visible;
            //z-index:0 !important;
        }

        &.inactive {
            border:2px solid rgba($blue, 0.125);
            background-color: transparent;
            opacity: 1 !important;
            > .label { display:none !important }
            > .count { display:none !important }
        }


        &.hidden { display:none;}

        &.monadic-related {
            overflow:visible;
            opacity:1;
            //background-color: transparent;
            > .label {
                width:100px;
                //height:5px;
                // margin:0;
                // padding:0;
                // left:0;
                // top:0;
                display:block !important;
                color:$grey;
            }
            > .count {
                position:absolute;
                display:none !important;
            }

            &.left {
                > .label { text-align:left; }
            }
            &.right {
                > .label { text-align:right;}
            }
        }
    }
    
}