#NetworkSection {

    &.hasTransition {
        .node {
            transition-timing-function: cubic-bezier(.78,.06,.58,1);
            transition: width 0.4s , height 0.4s, transform 0.4s, opacity 0.4s, border 0.4s;
      }  

    }

    .node {
        position:absolute;
        //display:block;
        text-align:center;
        box-sizing: border-box;
        background-color: $blue;
        cursor: pointer;

        
        &:hover {
            background-color: rgba($red, 0.3);
            opacity: 1 !important;
        }

        .label {
            color:#fff;
            text-transform: capitalize;
            font-size: 12px;
            font-weight: bold;
            display:block;
            position:relative;
            top:50%;
            transform:translate(0, -50%);
        }

        .count {
            color:#fff;
            font-size: 14px;
            display:block;
            position:relative;
            top:50%;
            transform:translate(0, -50%);
        }

        &.overflow {
            > .label { display:none !important }
            > .count { display:none !important }
            overflow:visible;
            //z-index:0 !important;
        }

        &.overflow.partial {
            > .label { display:none !important }
            > .count { display:block !important }
            overflow:visible;
            //z-index:0 !important;
        }

        &.inactive {
            //box-shadow:  0 0 0 1px rgba($blue, 1.0) inset, 0 0 0 1000px rgba(#fff, 1.0) inset;
            opacity: 0.1 !important;
            > .label { display:none !important }
            > .count { display:none !important }
        }


        &.hidden { display:none;}

        &.monad {
            border:none;
            background-color:transparent;
            border-radius:20px !important;
            padding:5px;
            overflow:visible;
            opacity:1;
            border:5px solid rgba($red, 0.3);

            > .label {
                width:100px;
                top:0;
                transform:translate(0,0);
                display:block !important;
                color:$grey;
            }
            > .count { display:none !important; }
        }



        &.monadic-related {
            border:none;
            background-color:transparent;
            border-radius:20px !important;
            padding:5px;
            overflow:visible;
            opacity:1;

            &.inactive {
                opacity:0 !important;
            }

            > .label {
                width:100px;
                top:0;
                transform:translate(0,0);
                display:block !important;
                color:$grey;
            }
            > .count { display:none !important; }

            &.left {
                .label { text-align:left;}
                border-left:5px solid rgba($blue, 0.1);
            }
            &.right {
                .label { text-align:right;}
                border-right:5px solid rgba($blue, 0.1);
            }
        }
    }
    
}