header {
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	width: 100%;
	position: fixed;
	z-index: 500;
	background: #FFF;

	.logo {
		width: 200px;
		float: left;
		padding-left: 10px;
	}
	.navi {
		float: right;
		text-transform: uppercase;
		padding-top: 10px;

		a {
			color: #000;
			text-decoration: none;
			width: 150px;
			float: left;
			font-size: 20px;
			text-align: center;

			&:hover, &:active {
				color:#96112d;
			}

		}
	}
}