header {
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	width: 1200px;
	position: fixed;
	z-index: 500;
	background: #FFF;
	top:0px;

	.logo {
		float: left;
		padding-left: $padding;
	}
	.navi {
		box-shadow:0 1px 0 0 rgba($bodyBackground, 1);
		float: right;
		text-transform: uppercase;
		padding-top: 10px;

		a {
			box-sizing:border-box;
			color: $red;
			text-decoration: none;
			width: 25%;
			float: left;
			padding: 0 $padding*2 0 $padding*2;
			font-size: 20px;
			text-align: center;
			letter-spacing: 1px;
			font-family:"gravurcondensed-bold";
			text-transform: uppercase;
			&:hover, &:active { color:$blue; }
		}
	}
}