
$introSidePadding: 100px;

#intro {
	margin-top: 88px;
	height:auto;

   p {
    -webkit-font-smoothing: antialiased;
    font-family: "egyptienne";
    font-size: 16px;
    line-height: 24px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    color:$grey;
    padding: 0 $padding;
    a { color:#000; text-decoration:none; }
  }

}