
$introSidePadding: 100px;
$red: #b00046;
$blue: #009ee0;

#intro {
    margin-top: 118px;
    margin-bottom: 70px;
    height: 216px;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

    em { color:lighten(#222,40%); }

    p {
        width:calc(50% - 25px);
        flex:1;
        margin-bottom: 20px;
        color:#222;
        &:nth-of-type(even) { margin-left:25px; }
        &:nth-of-type(odd) { margin-right:25px;}
    }
}