#TreemapSection {

	.title {
		position:absolute;
	}


	.switch {
		width:100%;
		border-bottom: 1px solid $bodyBackground;
		span {
			width:100%;
			span { text-transform:uppercase; font-size: 20px; color:$grey; text-align:center; }
			a,span {display:block; float:left; width:50%; }
			a.prev { text-align:left; &:before { content: '‹‹'; margin: 0 $padding/3; } }
			a.next { text-align:right; &:after { content: '››'; margin: 0 $padding/3; } }
			a,a:active {
				padding:$padding/3;
				//background-color: rgba($blue, 0.125);
				width:25%;
				text-decoration: none;
				display:block;
				color:$blue;
				font-size:14px;
			}
		}
	}

	.select-1 {
		position:absolute;
		transform-origin: left bottom;
	}



	.visualization { position:relative; }

	.label-connections {
		path {
			stroke:darken($bodyBackground, 20%);
			fill:none;
			stroke-width: 0.5px;
			stroke-linecap: round;

		}
	}

	.level-1-label {
		z-index:800;
		box-sizing:border-box;
		position:absolute;
		text-align: right;
		z-index:2 !important;
		transition: transform 0.4s, width 0.4s, height 0.4s, background-color 0.4s;
		letter-spacing: 0.3px;
		font-family:"gravurcondensed-regular";
		text-transform: uppercase;
		color:#000;
		position:absolute;
		padding-right:10px;
		transform:translate(-50%,0px);
		font-size: 10px;
		margin-top:5px;
		span {
			color: $grey;
		}
	}

	.node {
		box-sizing:border-box;
		position:absolute;
		text-align: center;
		z-index:2 !important;
		transition:  width 0.2s, height 0.2s, transform 0.4s, background-color 0.4s, box-shadow 0.4s;

		&.related {
			box-shadow: 0 0 500px 0 rgba(lighten($blue, 30%), 1) inset;
			.label, .count { color:$blue !important; }
		}

		&.overflow {
			.label, .count { display:none; }
		}

		.label { transition: color 0.4s; position:absolute; }
		.count { transition: color 0.4s; }

		&.other {
			background-color:rgba(#BEE6F9, 0.25);
			box-shadow: 0 0 0 0 rgba(238, 238, 238, 1) inset,  0 0 0 0 rgba(238, 238, 238, 1) inset;
		}
	}

	.level-1 {
		z-index:1 !important;
		padding-top:5px;
		box-shadow: -1px 0 0 0 rgba($bodyBackground, 1) inset, 1px 0 0 0 rgba($bodyBackground, 1) inset, 0 -1px 0 0 rgba($bodyBackground, 1) inset,  0 1px 0 0 rgba($bodyBackground, 1) inset;
	}

	.level-2 {
		box-shadow: 0 -1px 0 0 rgba(238, 238, 238, 1) inset,  0 1px 0 0 rgba(238, 238, 238, 1) inset;

		&:hover {
			z-index:3 !important;
			box-shadow: 0 0 500px 0 rgba(lighten($red, 30%), 1) inset;
			.label, .count { color:$red !important; }
		}
		.label {
			padding-left:20px;
			text-align:left;
			display:block;
			position:relative;
			top:50%;
			transform:translate(0,-50%);
			font-size: 12px;
			color : $grey !important;
		}

		.count {
			box-sizing:border-box;
			text-align:right;
			display:block;
			width:100%;
			position:absolute;
			padding-right:20px;
			top:50%;
			color:lighten($grey, 20%);
			transform:translate(0,-50%);
			font-size: 10px;
		}
	}
}

	.dropdown {
	    position: relative;
	    display: inline-block;
	}

	.dropdown .dropdown-menu {
	    position: absolute;
	    top: 100%;
	    display: none;
	    margin: 0;

	    /****************
	     ** NEW STYLES **
	     ****************/

	    list-style: none; /** Remove list bullets */
	    width: 100%; /** Set the width to 100% of it's parent */
	    padding: 0;
	}

	.dropdown:hover .dropdown-menu {
	    display: block;
	}

	/** Button Styles **/
	.dropdown button {
	    background: #FF6223;
	    color: #FFFFFF;
	    border: none;
	    margin: 0;
	    padding: 0.4em 0.8em;
	    font-size: 1em;
	}

	/** List Item Styles **/
	.dropdown a {
	    display: block;
	    padding: 0.2em 0.8em;
	    text-decoration: none;
	    background: #CCCCCC;
	    color: #333333;
	}

	/** List Item Hover Styles **/
	.dropdown a:hover {
	    background: #BBBBBB;
	}