#TreemapSection {

	.visualization {
	}

	select {
		padding:10px;
		margin:10px;
		position:relative;
		border:$grey;
		color:$grey;
		background-color: #fff;
		font-size: 20px;
		border-radius:0;
	}




	.node {
		position:absolute;
		overflow:hidden;
		background-color:rgba($blue, 0.25);
	}

	/*

	.level-0 {
		background-color: #fff;
	}

	.level-1 {
		background-color: lighten($grey, 40%);
	}

	.level-2 {
		background-color: $bluelighter;
	}*/

}