$linegrey: #efefef;
$width:180px;

#TreemapSection {

  .loadButton {
  		z-index:99;
      transition:opacity 0.4s;
      font-size: 14px;
      position:absolute;
      right:50%;
      top:50%;
      padding:20px;
      display:block;
      transform:translate(50%,50%);
      color:$blue;
      background-color: lighten($blue, 50%);
      cursor: pointer;
      &.hidden {opacity:0;pointer-events:none;}
  }


	select {
		text-transform: uppercase;
		margin-right:$padding/2;
		float:left;
		font-size: 14px;
		color: $blue;
		font-family:"gravurcondensed-regular";
		-webkit-appearance: none;
		-moz-appearance:    none;
		-ms-appearance:     none;
		-o-appearance:      none;
		appearance:         none;
		border-radius:0;
		border:0;
		background-color: transparent;
		background-image: url('../assets/arrow-down.svg');
		background-repeat: no-repeat;
		background-position: 100% 50%;
		background-size: 15%;
		padding-right:10px;
		margin-right:10px;
	}


	.selects {
		margin-top:25px;
		span {text-transform: uppercase; margin-right:$padding/2; float:left;font-size: 14px;color:grey;}
	}

	.switch {
		width:auto;
		float:left;
		height:60px;

		span {
			width:100%;
			position:relative;

			span { height:20px; text-transform:uppercase; font-size: 14px; color:#000; text-align:left;}
			a,span {display:block; float:left; }
			a.prev { position:absolute; width:20px;height:20px;display:block;right:0;top:0; transform:translate(-20px,12px)rotate(-90deg); text-align:center; }
			a.next { position:absolute; width:20px;height:20px;display:block;right:0;top:0; transform:translate(-20px,-16px)rotate(-90deg); text-align:center; }
			a {
				transition:all 0.5s;
				text-decoration: none;
				display:block;
				color:$blue;
				font-size:14px;
			}
		}
	}



	.visualization { position:relative; }

	.label-connections {
		path {
			stroke:darken($linegrey, 20%);
			fill:none;
			stroke-width: 0.5px;
			stroke-linecap: round;

		}
	}

	.level-1-label {

		z-index:800;
		box-sizing:border-box;
		position:absolute;
		text-align: right;
		z-index:2 !important;
		transition: transform 0.4s, width 0.2s, height 0.4s, background-color 0.4s;
		letter-spacing: 0.5px;
		font-family:"gravurcondensed-regular";
		text-transform: uppercase;
		color: #000; 
		position:absolute;
		padding-right:10px;
		font-size: 10px;
		line-height:13px;
		margin-top:-18px;
		word-wrap: no-wrap;
		span { color: $grey; }

	}

	.node {
		box-sizing: border-box;
		font-family:"gravurcondensed-regular";
		box-sizing:border-box;
		position:absolute;
		text-align: center;
		z-index:2 !important;
		transition:  width 0.2s, height 0.2s, transform 0.4s, background-color 0.4s, box-shadow 0.4s;

		&.related {
			background-color: lighten($blue, 50%);
			.label, .count { color:#000; }
		}

		&.overflow {
			.label, .count { display:none; }
		}

		.label { transition: color 0.4s; position:absolute; }
		.count { transition: color 0.4s; position:absolute; }

		&.other {
			background-color:rgba(238, 238, 238, 0.75);
			border:none;
			box-shadow: none, none;
		}
	}

	.level-1 {
		pointer-events:none;
		padding-top:5px;
		border-top: 1px solid $linegrey;
		border-bottom: 1px solid $linegrey;
		border-left: 2px solid $linegrey;
		border-right: 2px solid $linegrey;
	}

	.level-2 {

		cursor:pointer;

		border-top: 1px solid $linegrey;

		&:hover {
			z-index:3 !important;
			background-color: lighten($red, 50%);
			.label, .count { color:#000; }
		}

		span { color :$grey; } 

		.label {
			pointer-events:none;
			padding-left:20px;
			text-align:left;
			display:block;
			position:relative;
			top:50%;
			transform:translate(0,-50%);
			font-size: 10px;
			color:#000;
		}

		.count {
			color:lighten($grey,30%);
			pointer-events:none;
			box-sizing:border-box;
			text-align:right;
			display:block;
			width:100%;
			position:absolute;
			padding-right:20px;
			top:50%;
			transform:translate(0,-50%);
			font-size: 10px;
		}
	}
}