#TreemapSection {

	.title {
		position:absolute;
	}


	.switch {
		width:100%;
		border-bottom: 1px solid $bodyBackground;
		height:60px;

		span {
			width:100%;
			span { text-transform:uppercase; font-size: 20px; color:$grey; text-align:center; width:20%}
			a,span {display:block; float:left; }
			a.prev { text-align:right; &:before { content: '‹‹'; margin: 0 $padding/3; } }
			a.next { text-align:left; &:after { content: '››'; margin: 0 $padding/3; } }
			a,a:active {
				padding:$padding/3;
				//background-color: rgba($blue, 0.125);
				width:40%; 
				text-decoration: none;
				display:block;
				color:$blue;
				font-size:14px;
				transform:translate(0,-5px);
			}
		}
	}

	.select-1 {
		position:absolute;
		transform-origin: left bottom;
	}



	.visualization { position:relative; }

	.label-connections {
		path {
			stroke:darken($bodyBackground, 20%);
			fill:none;
			stroke-width: 0.5px;
			stroke-linecap: round;

		}
	}

	.level-1-label {
		z-index:800;
		box-sizing:border-box;
		position:absolute;
		text-align: right;
		z-index:2 !important;
		transition: transform 0.4s, width 0.4s, height 0.4s, background-color 0.4s;
		letter-spacing: 0.5px;
		font-family:"gravurcondensed-regular";
		text-transform: uppercase;
		color: #000; 
		position:absolute;
		padding-right:10px;
		font-size: 10px;
		line-height:18px;
		margin-top:-18px;
		word-wrap: no-wrap;
		span { color: $grey; }

	}

	.node {
		box-sizing: border-box;
		font-family:"gravurcondensed-regular";
		box-sizing:border-box;
		position:absolute;
		text-align: center;
		z-index:2 !important;
		transition:  width 0.2s, height 0.2s, transform 0.4s, background-color 0.4s, box-shadow 0.4s;

		&.related {
			background-color: lighten($blue, 50%);
			.label, .count { color:#000; }
		}

		&.overflow {
			.label, .count { display:none; }
		}

		.label { transition: color 0.4s; position:absolute; }
		.count { transition: color 0.4s; position:absolute; }

		&.other {
			background-color:rgba(238, 238, 238, 0.75);
			border:none;
			box-shadow: none, none;
		}
	}

	.level-1 {
		pointer-events:none;
		padding-top:5px;
		border-top: 1px solid $bodyBackground;
		border-bottom: 1px solid $bodyBackground;
		border-left: 2px solid $bodyBackground;
		border-right: 2px solid $bodyBackground;
	}

	.level-2 {

		border-top: 1px solid $bodyBackground;

		&:hover {
			z-index:3 !important;
			background-color: lighten($red, 50%);
			.label, .count { color:#000; }
		}

		span { color :$grey; } 

		.label {
			pointer-events:none;
			padding-left:20px;
			text-align:left;
			display:block;
			position:relative;
			top:50%;
			transform:translate(0,-50%);
			font-size: 10px;
			color:#000;
		}

		.count {
			color:lighten($grey,30%);
			pointer-events:none;
			box-sizing:border-box;
			text-align:right;
			display:block;
			width:100%;
			position:absolute;
			padding-right:20px;
			top:50%;
			transform:translate(0,-50%);
			font-size: 10px;
		}
	}
}