#GeomapSection {
    h2 {
        position: relative;
    }
    text {
        font-family: "gravurcondensed-regular";
        cursor: pointer;
    }
    circle {
        cursor: pointer;
    }
    .river {
        fill: none;
        stroke: #FFF;
    }
    .land {
        fill:#e5e7e8;
    }
}

#StreamSection {
    height:calc(100vh - 88px);

    h2.title {
        background-color: #fff;
        position: fixed;
    }

    .totals {
        font-size: 12px;
        position: absolute;
        top: -6px;
        right: 20px;
        /* background: #FFF; */
        padding: 5px;
        cursor: pointer;
        /* z-index: 10000; */
    }
    
    .stream {
        background: #FFF;
        z-index: 100;
        &.dropshadow {
            // -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.11);
            // -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.11);
            // box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.11);
            // box-shadow: 0 9px 7px -6px rgba(0, 0, 0, 0.18);
            box-shadow: 0 12px 13px -9px rgba(0, 0, 0, 0.18);
            position: fixed;
            top: 88px;
        }
        text {
            font-family: "gravurcondensed-regular";
            font-size: 12px;
            // text-shadow: 0px 0px 2px rgba(255,255,255,0.4), 0px 0px 2px rgba(255,255,255,0.4), 0px 0px 2px rgba(255,255,255,0.4), 0px 0px 2px rgba(255,255,255,0.4), 0px 0px 2px rgba(255,255,255,0.4), 0px 0px 1px rgba(255,255,255,0.4), 0px 0px 1px rgba(255,255,255,0.4), 0px 0px 1px rgba(255,255,255,0.4), 0px 0px 1px rgba(255,255,255,0.4), 0px 0px 1px rgba(255,255,255,0.4), 0px 0px 1px rgba(255,255,255,0.4), 0px 0px 1px rgba(255,255,255,0.4);
        }
        .brush {
            .selection {
                fill: #b00046;
                fill-opacity: 0.3;
                stroke: none;
            }
            .handle {
                // fill:#b00046;
            }
        }
        .axis {
            pointer-events: none;
            path,
            line {
                fill: none;
                stroke: rgba(0, 0, 0, 0.1);
                shape-rendering: crispEdges;
            }
            text {
                transition: opacity 0.5s;
            }
            .domain {
                display: none;
            }
            &.y {
                line {
                    stroke:none;
                }
                text {
                    fill:#a7a7a7;
                }
            }
        }
        .graph path {
            cursor: pointer;
            fill: #BEE6F9;
            &.active {
                fill: #b00046;
            }
        }
    }
    .entities {
        position: absolute;
        bottom: 20px;
        // margin-top: calc(92vh - 400px);
        .title {
            font-family: "gravurcondensed-bold";
            font-size: 12px;
            text-transform: uppercase;
            padding-bottom: 10px;
            padding-top: 10px;
            text-align: center;
        }
        .entity {
            /* padding: 5px; */
            float: left;
            width: 299px;
            padding: 10px;
            cursor: pointer;
            &.active,
            &.hover {
                background: #eef9fe;
            }
            .items {
                float: left;
                overflow-y: scroll;
                overflow-x: hidden;
                width: 100%;
                height: 230px;
                .item {
                    clear: left;
                    margin: 1px;
                    float: left;
                    width: 100%;
                    &.active {
                        .left {
                            .bar {
                                background: #b00046;
                            }
                        }
                    }
                    &.hover {
                        .left {
                            .bar {
                                background: #b00046;
                            }
                        }
                    }
                    .left {
                        float: left;
                        width: 50%;
                        padding-right: 5px;
                        .bar {
                            background: #3C7C9B;
                            float: right;
                            color: #FFF;
                            padding: 2px;
                            height: 14px;
                        }
                    }
                    .right {
                        float: right;
                        width: 50%;
                        overflow: hidden;
                        height: 12px;
                    }
                }
            }
        }
    }
}
