// import the style for the modules
@import '_variables.scss';
@import "_reset.scss";
@import "_header.scss";
@import "_intro.scss";
@import "_nested-treemap.scss";
@import "_circle-packed-network.scss";
@import "_StreamSection.scss";
@import "_BookshelfSection.scss";
@import "_ctooltip.scss";


// tooltips
@import "_tooltip.scss";
@import "_balloon.scss";


// global styles

@font-face {
    font-family: "gravurcondensed-regular";
    src: url("gravurcondensed-regular.woff") format('woff');
}

@font-face {
    font-family: "gravurcondensed-bold";
    src: url("gravurcondensed-bold.woff") format('woff');
}

@font-face {
    font-family: "egyptienne";
    src: url("egyptienne.woff") format('woff');
}

body {
  font: 10px "gravurcondensed-regular", sans-serif;
  margin:0;
  padding:0;
  background-color:$bodyBackground;

  .container { background-color:#fff; }

}

p {
  font: 12px "egyptienne", sans-serif;
}




section {
  background-color:#fff;
  position:relative;
  display: flex;
  margin-bottom: 40px;
  width:100%;
  flex-direction:column;
  // min-height:calc(100vh - 88px);
  height:calc(100vh - 188px);

  h2.title {
    font-face:"gravurcondensed-bold";
    box-sizing:border-box;
    padding: 25px 0;
    font-size: 25px;
    color:$grey;
    font-weight: bold;
    text-align:left;

    .years {
      font-face:"gravurcondensed-regular";
      font-weight: normal;
      color:lighten($grey, 20%);
    }
  }
  
}


.control {
  width:100%;
  svg {
    background-color:#fff;
    .grid-background {
      fill:rgba(190, 230, 249, 0.26);
    }
  }

}


// streamgraph and stuff to sort out

text {
  font: 10px sans-serif;
}

tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.8;
}


.container {
  position: relative;
  margin: auto auto;
  width: 1200px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}