// import the style for the modules
@import '_variables.scss';
@import "_reset.scss";
@import "_header.scss";
@import "_intro.scss";
@import "_nestedTreemap.scss";
@import "_circlePackedNetwork.scss";
@import "_StreamSection.scss";
@import "_BookshelfSection.scss";
@import "_ctooltip.scss";



// tooltips
@import "_tooltip.scss";
@import "_balloon.scss";


@font-face { font-family: "gravurcondensed-regular"; src: url("gravurcondensed-regular.woff") format('woff'); }
@font-face { font-family: "gravurcondensed-bold"; src: url("gravurcondensed-bold.woff") format('woff'); }

@font-face { 
  font-family: "egyptienne"; 
  src: url("egyptienne-normal.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: "egyptienne"; 
  src: url("egyptienne-italic.woff") format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face { 
  font-family: "egyptienne"; 
  src: url("egyptienne-bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font: 10px "gravurcondensed-regular", sans-serif;
  margin:0;
  padding:0;
  background-color:$bodyBackground;

  .container {
    position: relative;
    margin: auto auto;
    width: 1200px;
    background-color:#fff;
  }
  }

a.anchor {
  display: block;
  position: relative;
  top: -188px;
  visibility: hidden;
}


p { font: 12px "egyptienne", sans-serif; }




section {
  background-color:#fff;
  position:relative;
  display: flex;
  margin-bottom: 40px;
  width:100%;
  flex-direction:column;


  p {
    font-family: "egyptienne";
    color:#222;
    font-size:16px;
    line-height:24px;
  }


  h2.title {
    font-face:"gravurcondensed-bold";
    box-sizing:border-box;
    padding: 25px 0;
    font-size: 25px;
    color:$grey;
    font-weight: bold;
    text-align:left;

    .years {
      font-face:"gravurcondensed-regular";
      font-weight: normal;
      color:lighten($grey, 20%);
    }
  }

  .intro {
    font-family: "egyptienne";
    margin-bottom: 60px;
    color:#222222;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      // columns
      font-size:16px;
      line-height:24px;
      width:calc(50% - 25px);
      flex:1;
      margin-bottom: 20px;
      color:#222;
      &:nth-of-type(even) { margin-left:25px; }
      &:nth-of-type(odd) { margin-right:25px;}
    }
  }
}


.control {
  width:100%;
  svg {
    background-color:#fff;
    .grid-background {
      fill:rgba(190, 230, 249, 0.26);
    }
  }

}


// streamgraph and stuff to sort out

text {
  font: 10px sans-serif;
}

tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.8;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
