// global variables

$red: #b00046;
$blue: #009ee0;
$bluelight: lighten($blue, 25%);
$bluelighter: lighten($blue, 50%);
$grey: desaturate($blue, 100%);
$padding: 10px;


// import the style for the modules

@import "_reset.scss";
@import "_nested-treemap.scss";
@import "_circle-packed-network.scss";
@import "_StreamSection.scss";

// tooltips

@import "_tooltip.scss";
@import "_balloon.scss";


// global styles


@font-face {
    font-family: "gravurcondensed-regular";
    src: url("gravurcondensed-regular.woff") format('woff');
}

@font-face {
    font-family: "gravurcondensed-bold";
    src: url("gravurcondensed-bold.woff") format('woff');
}

@font-face {
    font-family: "egyptienne";
    src: url("egyptienne.woff") format('woff');
}

body {
  font: 10px "gravurcondensed-regular", sans-serif;

  margin:0;
  padding:0;
}

p {
  font: 12px "egyptienne", sans-serif;
}



section {
  position:relative;
  display: flex;
  width:100%;
  flex-direction:column;
  margin:0;
  min-height:calc(100vh - 100px);
  box-shadow: 0 0 5px 0 rgba($grey, 0.125);  
  h2.title {
    font-face:"gravurcondensed-bold";
    box-sizing:border-box;
    padding: 25px 0;
    font-size: 25px;
    color:$grey;
    font-weight: bold;
    text-align:center;

    .years {
      font-face:"gravurcondensed-regular";
      font-weight: normal;
      color:lighten($grey, 20%);
    }
  }
  
}


.control {
  width:100%;
  svg {
    background-color:#fff;
    .grid-background {
      fill:rgba(190, 230, 249, 0.26);
    }
  }

}


// streamgraph and stuff to sort out

text {
  font: 10px sans-serif;
}

tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.8;
}


.container {
  position: relative;
  margin: auto auto;
  width: 1200px;
}