/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

#TreemapSection .visualization {
  position: relative; }
#TreemapSection .title span {
  display: inline; }
#TreemapSection .title select {
  margin-left: 10px;
  padding: 0;
  text-align: center;
  color: #009ee0;
  font-size: 25px;
  width: 200px;
  background-color: transparent;
  font-family: "gravurcondensed-regular";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #61d0ff;
  background-image: url(../assets/arrow-down.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  display: inline; }
#TreemapSection .node {
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  z-index: 2 !important; }
  #TreemapSection .node.overflow .label {
    display: none; }
  #TreemapSection .node.related {
    background-color: #009ee0; }
    #TreemapSection .node.related .label {
      color: #fff !important; }
  #TreemapSection .node .label {
    position: absolute; }
#TreemapSection .level-1 {
  z-index: 1 !important;
  padding-top: 5px;
  border: 0.5px solid #fff;
  background-color: #707070; }
  #TreemapSection .level-1:hover {
    background-color: #707070;
    color: #fff; }
  #TreemapSection .level-1 .label {
    color: #fff;
    position: absolute;
    transform: translate(-50%, 0px);
    font-size: 16px; }
#TreemapSection .level-2 {
  background-color: #e0f6ff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff; }
  #TreemapSection .level-2:hover {
    z-index: 3 !important;
    background-color: #b00046;
    color: #fff;
    z-index: 100 !important; }
  #TreemapSection .level-2 .label {
    top: 50%;
    transform: translate(-50%, -50%);
    color: #707070 !important;
    font-size: 12px; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  margin: 0;
  /****************
   ** NEW STYLES **
   ****************/
  list-style: none;
  /** Remove list bullets */
  width: 100%;
  /** Set the width to 100% of it's parent */
  padding: 0; }

.dropdown:hover .dropdown-menu {
  display: block; }

/** Button Styles **/
.dropdown button {
  background: #FF6223;
  color: #FFFFFF;
  border: none;
  margin: 0;
  padding: 0.4em 0.8em;
  font-size: 1em; }

/** List Item Styles **/
.dropdown a {
  display: block;
  padding: 0.2em 0.8em;
  text-decoration: none;
  background: #CCCCCC;
  color: #333333; }

/** List Item Hover Styles **/
.dropdown a:hover {
  background: #BBBBBB; }

#NetworkSection .node {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  background-color: #009ee0;
  cursor: pointer; }
  #NetworkSection .node:hover {
    background-color: #b00046 !important;
    opacity: 1 !important; }
  #NetworkSection .node .label {
    color: #fff;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%); }
  #NetworkSection .node .count {
    color: #fff;
    font-size: 14px;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%); }
  #NetworkSection .node.partial-overflow {
    overflow: visible; }
    #NetworkSection .node.partial-overflow > .label {
      display: none !important; }
  #NetworkSection .node.overflow {
    overflow: visible; }
    #NetworkSection .node.overflow > .label {
      display: none !important; }
    #NetworkSection .node.overflow > .count {
      display: none !important; }
  #NetworkSection .node.inactive {
    border: 2px solid rgba(0, 158, 224, 0.125);
    background-color: transparent;
    opacity: 1 !important; }
    #NetworkSection .node.inactive > .label {
      display: none !important; }
    #NetworkSection .node.inactive > .count {
      display: none !important; }

#GeomapSection .river {
  fill: none;
  stroke: #EEE; }

#StreamSection h2.title {
  background-color: #fff;
  position: fixed; }
#StreamSection .bookshelf {
  height: 340px;
  margin-left: 20px;
  overflow: hidden; }
  #StreamSection .bookshelf .book {
    float: left;
    width: 200px;
    padding: 2px;
    display: list-item;
    margin-left: 40px; }
#StreamSection .stream {
  background: #FFF;
  position: fixed;
  z-index: 100; }
  #StreamSection .stream.dropshadow {
    box-shadow: 0 9px 7px -6px rgba(0, 0, 0, 0.18); }
  #StreamSection .stream text {
    font-family: "gravurcondensed-regular";
    font-size: 12px; }
  #StreamSection .stream .brush .selection {
    fill: #b00046;
    fill-opacity: 0.3;
    stroke: none; }
  #StreamSection .stream .axis {
    pointer-events: none; }
    #StreamSection .stream .axis path,
    #StreamSection .stream .axis line {
      fill: none;
      stroke: rgba(0, 0, 0, 0.1);
      shape-rendering: crispEdges; }
  #StreamSection .stream .graph path {
    cursor: pointer;
    fill: #BEE6F9; }
    #StreamSection .stream .graph path.active {
      fill: #b00046; }
#StreamSection .entities {
  margin-top: calc(92vh - 400px); }
  #StreamSection .entities .title {
    font-family: "gravurcondensed-bold";
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center; }
  #StreamSection .entities .entity {
    /* padding: 5px; */
    float: left;
    width: 270px;
    margin: 10px;
    padding: 10px;
    background: rgba(190, 230, 249, 0.26);
    cursor: pointer; }
    #StreamSection .entities .entity.active, #StreamSection .entities .entity.hover {
      background: #bee6f9; }
    #StreamSection .entities .entity .items {
      float: left;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100%;
      height: 200px; }
      #StreamSection .entities .entity .items .item {
        clear: left;
        margin: 1px;
        float: left;
        width: 100%; }
        #StreamSection .entities .entity .items .item.active .left .bar, #StreamSection .entities .entity .items .item.hover .left .bar {
          background: #b00046; }
        #StreamSection .entities .entity .items .item .left {
          float: left;
          width: 45%;
          padding-right: 5px; }
          #StreamSection .entities .entity .items .item .left .bar {
            background: #3C7C9B;
            float: right;
            color: #FFF;
            padding: 2px; }
        #StreamSection .entities .entity .items .item .right {
          float: right;
          width: 55%;
          overflow: hidden;
          height: 12px; }

/*! tooltip 0.1.0 - 18th Dec 2013 | https://github.com/darsain/tooltip */
.tooltip {
  position: absolute;
  padding: .8em 1em;
  top: 10px;
  /* Defines the spacing between tooltip and target position */
  max-width: 200px;
  color: #fff;
  background: #3a3c47;
  border-radius: 2px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none; }

/* Arrow styles */
.tooltip:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px;
  background: inherit;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.tooltip.top:after, .tooltip.top-left:after, .tooltip.top-right:after {
  bottom: 0; }

.tooltip.bottom:after, .tooltip.bottom-left:after, .tooltip.bottom-right:after {
  top: 0; }

.tooltip.top:after, .tooltip.bottom:after {
  left: 50%; }

.tooltip.top-left:after, .tooltip.bottom-left:after {
  right: 15px; }

.tooltip.top-right:after, .tooltip.bottom-right:after {
  left: 15px; }

.tooltip.left:after, .tooltip.left-top:after, .tooltip.left-bottom:after {
  right: 0; }

.tooltip.right:after, .tooltip.right-top:after, .tooltip.right-bottom:after {
  left: 0; }

.tooltip.left:after, .tooltip.right:after {
  top: 50%; }

.tooltip.left-top:after, .tooltip.right-top:after {
  bottom: 15px; }

.tooltip.left-bottom:after, .tooltip.right-bottom:after {
  top: 15px; }

/* Fade */
.tooltip.fade {
  opacity: 0;
  transition: opacity 200ms ease-out; }

.tooltip.fade.in {
  opacity: 1;
  transition-duration: 100ms; }

/* Slide */
.tooltip.slide {
  opacity: 0;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity; }

.tooltip.slide.top,
.tooltip.slide.top-left,
.tooltip.slide.top-right {
  -webkit-transform: translateY(15px);
  transform: translateY(15px); }

.tooltip.slide.bottom,
.tooltip.slide.bottom-left,
.tooltip.slide.bottom-right {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px); }

.tooltip.slide.left,
.tooltip.slide.left-top,
.tooltip.slide.left-bottom {
  -webkit-transform: translateX(15px);
  transform: translateX(15px); }

.tooltip.slide.right,
.tooltip.slide.right-top,
.tooltip.slide.right-bottom {
  -webkit-transform: translateX(-15px);
  transform: translateX(-15px); }

.tooltip.slide.in {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  transition-duration: 100ms; }

/* Grow */
.tooltip.grow {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out; }

.tooltip.grow.top {
  -webkit-transform: translateY(60%) scale(0);
  transform: translateY(60%) scale(0); }

.tooltip.grow.top-left {
  -webkit-transform: translateY(60%) translateX(40%) scale(0);
  transform: translateY(60%) translateX(40%) scale(0); }

.tooltip.grow.top-right {
  -webkit-transform: translateY(60%) translateX(-40%) scale(0);
  transform: translateY(60%) translateX(-40%) scale(0); }

.tooltip.grow.bottom {
  -webkit-transform: translateY(-60%) scale(0);
  transform: translateY(-60%) scale(0); }

.tooltip.grow.bottom-left {
  -webkit-transform: translateY(-60%) translateX(40%) scale(0);
  transform: translateY(-60%) translateX(40%) scale(0); }

.tooltip.grow.bottom-right {
  -webkit-transform: translateY(-60%) translateX(-40%) scale(0);
  transform: translateY(-60%) translateX(-40%) scale(0); }

.tooltip.grow.left {
  -webkit-transform: translateX(53%) scale(0);
  transform: translateX(53%) scale(0); }

.tooltip.grow.left-top {
  -webkit-transform: translateX(53%) translateY(40%) scale(0);
  transform: translateX(53%) translateY(40%) scale(0); }

.tooltip.grow.left-bottom {
  -webkit-transform: translateX(53%) translateY(-40%) scale(0);
  transform: translateX(53%) translateY(-40%) scale(0); }

.tooltip.grow.right {
  -webkit-transform: translateX(-53%) scale(0);
  transform: translateX(-53%) scale(0); }

.tooltip.grow.right-top {
  -webkit-transform: translateX(-53%) translateY(40%) scale(0);
  transform: translateX(-53%) translateY(40%) scale(0); }

.tooltip.grow.right-bottom {
  -webkit-transform: translateX(-53%) translateY(-40%) scale(0);
  transform: translateX(-53%) translateY(-40%) scale(0); }

.tooltip.grow.in {
  -webkit-transform: none;
  transform: none;
  transition-duration: 100ms; }

/* Types */
.tooltip.light {
  color: #3a3c47;
  background: #fff;
  text-shadow: none; }

.tooltip.success {
  background: #8dc572; }

.tooltip.warning {
  background: #ddc12e; }

.tooltip.error {
  background: #be6464; }

[data-balloon] {
  position: relative; }

[data-balloon]:before,
[data-balloon]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  pointer-events: none;
  bottom: 100%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top; }

[data-balloon]:after {
  background: #b00046;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
  content: attr(data-balloon);
  font-size: 12px;
  padding: .5em 1em;
  white-space: nowrap;
  margin-bottom: 11px; }

[data-balloon]:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="#b00046" transform="rotate(0)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  content: "";
  margin-bottom: 5px; }

[data-balloon]:hover:before,
[data-balloon]:hover:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

[data-balloon][data-balloon-break]:after {
  white-space: normal; }

[data-balloon-pos="down"]:before,
[data-balloon-pos="down"]:after {
  bottom: auto;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px); }

[data-balloon-pos="down"]:after {
  margin-top: 11px; }

[data-balloon-pos="down"]:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="#b00046" transform="rotate(180 18 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  margin-top: 5px;
  margin-bottom: 0; }

[data-balloon-pos="down"]:hover:before,
[data-balloon-pos="down"]:hover:after {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

[data-balloon-pos="left"]:before,
[data-balloon-pos="left"]:after {
  bottom: auto;
  left: auto;
  right: 100%;
  top: 50%;
  -webkit-transform: translate(10px, -50%);
  -ms-transform: translate(10px, -50%);
  transform: translate(10px, -50%); }

[data-balloon-pos="left"]:after {
  margin-right: 11px; }

[data-balloon-pos="left"]:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="#b00046" transform="rotate(-90 18 18)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;
  background-size: 100% auto;
  height: 18px;
  width: 6px;
  margin-right: 5px;
  margin-bottom: 0; }

[data-balloon-pos="left"]:hover:before,
[data-balloon-pos="left"]:hover:after {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

[data-balloon-pos="right"]:before,
[data-balloon-pos="right"]:after {
  bottom: auto;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
  -ms-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%); }

[data-balloon-pos="right"]:after {
  margin-left: 11px; }

[data-balloon-pos="right"]:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="#b00046" transform="rotate(90 6 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;
  background-size: 100% auto;
  height: 18px;
  width: 6px;
  margin-bottom: 0;
  margin-left: 5px; }

[data-balloon-pos="right"]:hover:before,
[data-balloon-pos="right"]:hover:after {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

[data-balloon-length]:after {
  white-space: normal; }

[data-balloon-length="small"]:after {
  width: 80px; }

[data-balloon-length="medium"]:after {
  width: 150px; }

[data-balloon-length="large"]:after {
  width: 260px; }

[data-balloon-length="xlarge"]:after {
  width: 90vw; }

@media screen and (min-width: 768px) {
  [data-balloon-length="xlarge"]:after {
    width: 380px; } }
[data-balloon-length="fit"]:after {
  width: 100%; }

@font-face {
  font-family: "gravurcondensed-regular";
  src: url("gravurcondensed-regular.woff") format("woff"); }
@font-face {
  font-family: "gravurcondensed-bold";
  src: url("gravurcondensed-bold.woff") format("woff"); }
@font-face {
  font-family: "egyptienne";
  src: url("egyptienne.woff") format("woff"); }
body {
  font: 10px "gravurcondensed-regular", sans-serif;
  margin: 0;
  padding: 0; }

p {
  font: 12px "egyptienne", sans-serif; }

section {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  margin: 0;
  min-height: calc(100vh - 100px);
  box-shadow: 0 0 5px 0 rgba(112, 112, 112, 0.125); }
  section h2.title {
    box-sizing: border-box;
    padding: 25px 0;
    font-size: 25px;
    color: #707070;
    font-weight: bold;
    text-align: center; }

.control {
  width: 100%; }
  .control svg {
    background-color: #fff; }
    .control svg .grid-background {
      fill: rgba(190, 230, 249, 0.26); }

text {
  font: 10px sans-serif; }

tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.8; }

.container {
  position: relative;
  margin: auto auto;
  width: 1200px; }

/*# sourceMappingURL=style.css.map */
