#treemap { height:90vh; }

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding:10px;
	margin:10px;
	position:relative;
	z-index:10;
	border:none;
	background-color: $blue;
	font-size: 14px;
	color:#fff;
	border-radius:0;
}

rect {
	fill:$blue;
	&:hover { fill:$blue; }
}

.text {
	pointer-interaction:none;
}

.level-0 { fill: #fff }
.level-1 { fill: lighten($grey, 10%); }
.level-2 { fill: lighten($grey, 20%); }

.node rect {
  shape-rendering: crispEdges;
}

.node--hover rect {
  stroke: #000;
}
