// global variables

$red: #b00046;
$blue: #009ee0;
$bluelight: lighten($blue, 25%);
$bluelighter: lighten($blue, 50%);
$grey: desaturate($blue, 100%);

$padding: 10px;


// import the style for the modules

@import "_reset.scss";
@import "_nested-treemap.scss";
@import "_circular-network.scss";

// global styles


@font-face {
    font-family: "gravurcondensed-regular";
    src: url("gravurcondensed-regular.woff") format('woff');
}

@font-face {
    font-family: "gravurcondensed-bold";
    src: url("gravurcondensed-bold.woff") format('woff');
}

@font-face {
    font-family: "egyptienne";
    src: url("egyptienne.woff") format('woff');
}

body {
  font: 10px "gravurcondensed-regular", sans-serif;

  margin:0;
  padding:0;
}



#viewport-wrap {

  display: flex;
  width:100%;
  overflow: scroll;
  flex-direction:column;
  margin:0;

  .viewport {
    width:100vw;
    min-height:100vh;
    //padding: $padding;
  }

}


.control {
  width:100%;
  svg {
    background-color:#fff;
    .grid-background {
      fill:rgba(190, 230, 249, 0.26);
    }
  }

}


// streamgraph and stuff to sort out

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.graph:hover path {
  fill-opacity: 0.4;
  stroke-opacity: 0.1;
}
.graph:hover path:hover{
  fill-opacity: 1;
  stroke-opacity: 1;
}
.graph path {
  cursor: pointer;
  stroke:#ACE0F6;
  fill:#BEE6F9;
}
.graph path.active {
  fill:#b00046;
  stroke:#BEE6F9;
}

text {
  font: 10px sans-serif;
}

tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.8;
}

.container {
  /* z-index: 100; */
  width: 1080px;
  margin: 20px;
  overflow: hidden;
  /* background: #FFF; */
}



#stream {


  .outer {
    padding-bottom: 10px;
    overflow: hidden;
    /* z-index: 2; */
    /* background: #FFF; */
    top: 0;
    position: fixed;
  }

  .map {
    padding-top: 40px;
  }

  .page {
    margin-top: 290px;
    float: left;
    padding-bottom: 500px;
    
  }

  .stream {
    background: #FFF;
  }

  .stream.dropshadow {
    -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.11);
  }

  .stream .axis path,
  .stream .axis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges; }


  .graph path {
    cursor: pointer;
    stroke: #ACE0F6;
    fill: #BEE6F9; }

  .graph path.active {
    fill: #b00046;
    stroke: #BEE6F9; }

  // .brush .extent {
  //   fill:rgba(176, 0, 70, 0.76);
  //   /*pointer-events: auto !important;*/
  //   }
  // .brush .resize rect {
  //   fill:#b00046;
  // }

  .list, .totals {
    left: 30px;
    position: absolute;
    /* left: 20px; */
    /* width: 100%; */
    padding: 10px;
    margin: 10px;
    clear: left;
    }

  .list .item {
    padding: 10px;
    margin: 10px;
    float: left;
    background: #eee;
    cursor: pointer; }

  .entities .entity {
    /* padding: 5px; */
    float: left;
    width: 240px;
    margin: 10px;
    background: rgba(190, 230, 249, 0.26);
    cursor: pointer;
    }

  .entities .entity.active {
    background: #bee6f9; }

  .entities .entity.hover {
    background: #bee6f9; }

  .entities .entity .items {

    float: left;
    padding: 10px;
    width: 100%;
    height: 200px;
    }

  .entities .entity .item {
    clear: left;
    margin: 1px;
    float: left;
    width: 100%;
    }

  .entities .entity .item .left {
    float: left;
    width: 40%;
    padding-right: 5px;
  }
  .entities .entity .item .left .bar {
    background: #3C7C9B;
    float: right;
    color: #FFF;
    padding: 2px;
  }
  .entities .entity .hover.item .left .bar, .entities .entity .active.item .left .bar {
    background: #b00046;
  }

  .entities .entity .item .right {
    float: right;
    width: 60%;
  }

  .entities .entity .hover.item, .entities .entity .active.item {
    color: #b00046; }

  .entities .entity .title {
    font-family: "gravurcondensed-bold";
    font-size: 12px;
    text-transform: uppercase;
    margin: 14px;
    /* padding-bottom: 5px; */ }

}
